{% extends "main.html" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container">
	<header>
		<div class="row">
			<div class="col-12 text-center">
				<h3>MVC, прототип</h3>
			</div>
		</div>
	</header>
	<div class="row">
		<form id="login-form">
			<div class="col-12 mx-auto">
				<div class="input-group row">
					<div class="form-group">
						<div class="col-12">
							<label for="login">Логин:</label>
							<input class="form-control" type="text" id="login" name="login">
						</div>
					</div>
					<div class="form-group">
						<div class="col-12">
							<label for="password">Пароль:</label>
							<input class="form-control" type="password" id="password">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<a id="registration" class="btn btn-info" href="/registration">Зарегистрироваться</a>
				</div>
				<div class="col-6">
					<a class="btn btn-info" href="/user/login">Войти</a>
				</div>
				{% if message|length %}
				<div><p>{{ message }}</p></div>
				{% endif %}
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}