{% extends "/main.html" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container">
	<header>
		<div class="row">
			<div class="col-12 text-center">
				<h3>Регистрация</h3>
			</div>
		</div>
	</header>
	<div class="row">
		<form enctype="multipart/form-data" action="/mvc/user/signup" method="post" id="registration-form">
			<div class="col-12 mx-auto">
				<div class="input-group row">
					<div class="form-group">
						<div class="col-12">
							<label for="email">Email:</label>
							<input required class="form-control" type="text" id="email" name="email">
						</div>
					</div>
					<div class="form-group">
						<div class="col-12">
							<label for="email">Введите пароль:</label>
							<input required class="form-control" type="password" id="password" name="password">
						</div>
						<div class="col-12">
							<label for="email">Подтвердите пароль:</label>
							<input required class="form-control" type="password" id="confirm_password" name="confirm_password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-12">
							<label for="name">Имя:</label>
							<input class="form-control" type="text" id="name" name="name">
						</div>
					</div>
					<div class="form-group">
						<div class="col-12">
							<label for="name">Возраст:</label>
							<input required class="form-control" type="number" name="age" id="age">
						</div>
					</div>
					<div class="form-group">
						<label for="avatar">Загрузите изображение (аватар): </label>
						<input type="file" accept="image/*" class="form-control-file" id="avatar" name="avatar">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<button id="registration" class="btn btn-info" type="submit">Зарегистрироваться</button>
				</div>
			</div>
			{% if errors|length != 0 %}
				{% for error in errors %}
				<div class="message">
					{{ error | raw }}
				</div>
			{% endif %}
		</form>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}